<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ACPI</key>
	<dict>
		<key>SSDT</key>
		<dict>
			<key>UseSystemIO</key>
			<true/>
		</dict>
		<key>SortedOrder</key>
		<array>
			<string>SSDT-XOSI.aml</string>
			<string>SSDT-USBP.aml</string>
			<string>SSDT-PCID.aml</string>
			<string>SSDT-ADP1.aml</string>
			<string>SSDT-PLUG.aml</string>
			<string>SSDT-BRT6.aml</string>
			<string>SSDT-I2C.aml</string>
			<string>SSDT-RMDC.aml</string>
			<string>SSDT-TYPC.aml</string>
			<string>SSDT-SLP5.aml</string>
		</array>
		<key>DropTables</key>
		<array>
			<dict>
				<key>Signature</key>
				<string>DMAR</string>
			</dict>
			<dict>
				<key>TableId</key>
				<string>xh_rvp11</string>
				<key>DropForAllOS</key>
				<false/>
				<key>Signature</key>
				<string>SSDT</string>
			</dict>
		</array>
		<key>ResetValue</key>
		<string>0x06</string>
		<key>ResetAddress</key>
		<string>0x0CF9</string>
		<key>FixHeaders</key>
		<true/>
		<key>DSDT</key>
		<dict>
			<key>Patches</key>
			<array>
				<dict>
					<key>Find</key>
					<data>T1NJRA==</data>
					<key>Replace</key>
					<data>WFNJRA==</data>
					<key>Disabled</key>
					<false/>
					<key>Comment</key>
					<string>Change OSID to XSID and use with SSDT-XOSI.aml</string>
				</dict>
				<dict>
					<key>Find</key>
					<data>X09TSQ==</data>
					<key>Replace</key>
					<data>WE9TSQ==</data>
					<key>Disabled</key>
					<false/>
					<key>Comment</key>
					<string>Change _OSI to XOSI and use with SSDT-XOSI.aml</string>
				</dict>
				<dict>
					<key>Find</key>
					<data>RUNEVg==</data>
					<key>Replace</key>
					<data>RUNfXw==</data>
					<key>Disabled</key>
					<false/>
					<key>Comment</key>
					<string>Change ECDV to EC (Fix EC)</string>
				</dict>
				<dict>
					<key>Find</key>
					<data>X0RTTQ==</data>
					<key>Replace</key>
					<data>WERTTQ==</data>
					<key>Disabled</key>
					<false/>
					<key>Comment</key>
					<string>Change _DSM to XDSM (for _DSM injections)</string>
				</dict>
				<dict>
					<key>Find</key>
					<data>FCBCUlQ2Ag==</data>
					<key>Replace</key>
					<data>FCBCUlRYAg==</data>
					<key>Disabled</key>
					<false/>
					<key>Comment</key>
					<string>Change BRT6 to BRTX and use with SSDT-BRT6.aml</string>
				</dict>
				<dict>
					<key>Find</key>
					<data>X1JNVgCgFpCTVEJUUwGTU0JOUlRCVVOkVEFSU6EGpEhQQ0UULUhQTUUIoCaQkpNWRElEDP////+TUE1TWAGGUFhTWAoCcAFQTVNYcAFQU1BYFCpfSU5JAHBMVFIxTFRSWnBQTUwxTE1TTHBQTkwxTE5TTHBPQkYxT0JGWhQPX1BSVwCkR1BSVwppCgQUFl9QUlQAoApQSUNNpEFSMTKkUFIxMluCRztSUDE2</data>
					<key>Replace</key>
					<data>WFJNVgCgFpCTVEJUUwGTU0JOUlRCVVOkVEFSU6EGpEhQQ0UULUhQTUUIoCaQkpNWRElEDP////+TUE1TWAGGUFhTWAoCcAFQTVNYcAFQU1BYFCpfSU5JAHBMVFIxTFRSWnBQTUwxTE1TTHBQTkwxTE5TTHBPQkYxT0JGWhQPX1BSVwCkR1BSVwppCgQUFl9QUlQAoApQSUNNpEFSMTKkUFIxMluCRztSUDE2</data>
					<key>Disabled</key>
					<false/>
					<key>Comment</key>
					<string>Change _RMV to XRMV and use with SSDT-TYPC.aml</string>
				</dict>
				<dict>
					<key>Find</key>
					<data>X1dBSwE=</data>
					<key>Replace</key>
					<data>WldBSwE=</data>
					<key>Disabled</key>
					<false/>
					<key>Comment</key>
					<string>Change _WAK to ZWAK and use with SSDT-SLP5.aml</string>
				</dict>
				<dict>
					<key>Find</key>
					<data>R1BSVwI=</data>
					<key>Replace</key>
					<data>WFBSVwI=</data>
					<key>Disabled</key>
					<false/>
					<key>Comment</key>
					<string>Change GPRW to XPRW and use with SSDT-SLP5.aml</string>
				</dict>
			</array>
			<key>Fixes</key>
			<dict>
				<key>AddDTGP</key>
				<true/>
				<key>FixRTC</key>
				<true/>
			</dict>
			<key>Rtc8Allowed</key>
			<false/>
			<key>SlpSmiAtWake</key>
			<false/>
		</dict>
	</dict>
	<key>Boot</key>
	<dict>
		<key>NoEarlyProgress</key>
		<true/>
		<key>CustomLogo</key>
		<false/>
		<key>Secure</key>
		<false/>
		<key>Debug</key>
		<false/>
		<key>Arguments</key>
		<string>-lilubetaall vsmcgen=1 darkwake=0 -rtsx_no_adma keepsyms=1 agdpmod=vit9696 bpr_probedelay=100 bpr_initialdelay=300 bpr_postresetdelay=300 -igfxtypec -disablegfxfirmware</string>
		<key>XMPDetection</key>
		<string>Yes</string>
		<key>SignatureFixup</key>
		<true/>
		<key>Timeout</key>
		<integer>5</integer>
		<key>DefaultVolume</key>
		<string>LastBootedVolume</string>
	</dict>
	<key>GUI</key>
	<dict>
		<key>Theme</key>
		<string>Outlines4K</string>
		<key>Mouse</key>
		<dict>
			<key>Enabled</key>
			<false/>
		</dict>
		<key>Hide</key>
		<array>
			<string>Recovery</string>
			<string>Preboot</string>
			<string>preboot</string>
		</array>
		<key>Language</key>
		<string>zh_CN:0</string>
		<key>Scan</key>
		<dict>
			<key>Tool</key>
			<true/>
			<key>Entries</key>
			<true/>
			<key>Legacy</key>
			<false/>
			<key>Linux</key>
			<true/>
		</dict>
	</dict>
	<key>BootGraphics</key>
	<dict>
		<key>EFILoginHiDPI</key>
		<integer>2</integer>
		<key>flagstate</key>
		<integer>1</integer>
		<key>UIScale</key>
		<integer>2</integer>
	</dict>
	<key>CPU</key>
	<dict>
		<key>HWPEnable</key>
		<true/>
	</dict>
	<key>Devices</key>
	<dict>
		<key>USB</key>
		<dict>
			<key>FixOwnership</key>
			<true/>
			<key>AddClockID</key>
			<false/>
			<key>Inject</key>
			<false/>
			<key>HighCurrent</key>
			<true/>
		</dict>
		<key>Properties</key>
		<dict>
			<key>PciRoot(0x0)/Pci(0x1F,0x3)</key>
			<dict>
				<key>PinConfigurations</key>
				<data>AAAAAA==</data>
				<key>layout-id</key>
				<data>SAAAAA==</data>
				<key>hda-gfx</key>
				<string>onboard-1</string>
				<key>RM,device-id</key>
				<data>cJ0AAA==</data>
			</dict>
			<key>PciRoot(0x0)/Pci(0x2,0x0)</key>
			<dict>
				<key>framebuffer-con0-flags</key>
				<data>mAEAAA==</data>
				<key>framebuffer-con1-pipe</key>
				<data>EgAAAA==</data>
				<key>framebuffer-con0-busid</key>
				<data>BAAAAA==</data>
				<key>enable-lspcon-support</key>
				<data>AQAAAA==</data>
				<key>framebuffer-con1-has-lspcon</key>
				<data>AQAAAA==</data>
				<key>framebuffer-con0-enable</key>
				<data>AQAAAA==</data>
				<key>enable-hdmi20</key>
				<data>AQAAAA==</data>
				<key>framebuffer-con1-enable</key>
				<data>AQAAAA==</data>
				<key>framebuffer-con2-enable</key>
				<data>AQAAAA==</data>
				<key>framebuffer-con2-index</key>
				<data>AgAAAA==</data>
				<key>framebuffer-con1-preferred-lspcon-mode</key>
				<data>AAAAAA==</data>
				<key>framebuffer-con2-busid</key>
				<data>BgAAAA==</data>
				<key>framebuffer-con0-pipe</key>
				<data>IAAAAA==</data>
				<key>force-online</key>
				<data>AQAAAA==</data>
				<key>AAPL,ig-platform-id</key>
				<data>AAAbWQ==</data>
				<key>framebuffer-con1-index</key>
				<data>AQAAAA==</data>
				<key>framebuffer-unifiedmem</key>
				<data>/////w==</data>
				<key>#AAPL00,override-no-connect</key>
				<data>AP///////wBNEI0UwCyJ1SgZAQSlIhN4Dt8ZqVM0vCUMUVQAAAABAQEBAQEBAQEBAQEBAQEBTU0AoPBwPoAwIDUAWMIQAAAYpqYAoPBwPoAwIDUAWMIQAAAYAAAA/QA4TB5TEQAKICAgICAgAAAA/ABDb2xvciBMQ0QKICAgADk=</data>
				<key>framebuffer-patch-enable</key>
				<data>AQAAAA==</data>
				<key>framebuffer-con1-busid</key>
				<data>BQAAAA==</data>
				<key>disable-external-gpu</key>
				<data>AQAAAA==</data>
			</dict>
			<key>PciRoot(0x0)/Pci(0x17,0x0)</key>
			<dict>
				<key>AAPL,slot-name</key>
				<string>Built In</string>
				<key>device_type</key>
				<string>SATA controller</string>
				<key>model</key>
				<string>HM170/QM170 Chipset SATA Controller [AHCI Mode]</string>
			</dict>
			<key>PciRoot(0x0)/Pci(0x1C,0x0)/Pci(0x0,0x0)</key>
			<dict>
				<key>brcmfx-country</key>
				<string>#a</string>
				<key>model</key>
				<string>BCM43602 802.11ac Wireless LAN SoC</string>
				<key>AAPL,slot-name</key>
				<string>Built In</string>
				<key>device_type</key>
				<string>Network controller</string>
			</dict>
			<key>PciRoot(0x0)/Pci(0x1C,0x1)/Pci(0x0,0x0)</key>
			<dict>
				<key>AAPL,slot-name</key>
				<string>Built In</string>
				<key>device_type</key>
				<string>SD Card Reader</string>
				<key>model</key>
				<string>RTS525A PCI Express Card Reader</string>
			</dict>
		</dict>
		<key>NoDefaultProperties</key>
		<false/>
	</dict>
	<key>KernelAndKextPatches</key>
	<dict>
		<key>AppleRTC</key>
		<true/>
		<key>KernelPm</key>
		<false/>
		<key>KextsToPatch</key>
		<array>
			<dict>
				<key>Find</key>
				<data>SU9LaXQ=</data>
				<key>Name</key>
				<string>com.apple.driver.AppleIntelLpssI2C</string>
				<key>Replace</key>
				<data>SU9LaXM=</data>
				<key>Disabled</key>
				<false/>
				<key>Comment</key>
				<string>Prevent Apple I2C kexts from attaching to I2C controllers, credit CoolStar</string>
				<key>InfoPlistPatch</key>
				<false/>
			</dict>
			<dict>
				<key>Find</key>
				<data>SU9LaXQ=</data>
				<key>Name</key>
				<string>com.apple.driver.AppleIntelLpssI2CController</string>
				<key>Replace</key>
				<data>SU9LaXM=</data>
				<key>Disabled</key>
				<false/>
				<key>Comment</key>
				<string>Prevent Apple I2C kexts from attaching to I2C controllers, credit CoolStar</string>
				<key>InfoPlistPatch</key>
				<false/>
			</dict>
			<dict>
				<key>Find</key>
				<data>SIX/dEdIiwc=</data>
				<key>Name</key>
				<string>IOBluetoothFamily</string>
				<key>Replace</key>
				<data>Qb4PAAAA60Q=</data>
				<key>Disabled</key>
				<false/>
				<key>Comment</key>
				<string>Enable BT4LE-Handoff-Hotspot</string>
				<key>InfoPlistPatch</key>
				<false/>
			</dict>
		</array>
		<key>KernelXCPM</key>
		<true/>
		<key>PanicNoKextDump</key>
		<true/>
		<key>KernelToPatch</key>
		<array>
			<dict>
				<key>MaskReplace</key>
				<data>AAAAAAAAAAD//wAAAAAA</data>
				<key>Find</key>
				<data>/4A9tcZOAAAPhRcBAABB</data>
				<key>MaskFind</key>
				<data>////AAAA/////wD/////</data>
				<key>Comment</key>
				<string>KbeBS-KxldUnmap (vit9696, kuckkuck)</string>
				<key>Disabled</key>
				<false/>
				<key>MatchOS</key>
				<string>10.16,11.0</string>
				<key>Replace</key>
				<data>/4A9tcZOAACQ6RcBAABB</data>
				<key>Count</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>MaskReplace</key>
				<data>AAAAAAAAAP//AAAAAAAAAA==</data>
				<key>Find</key>
				<data>6EUEDwCFwA+E+gAAAEmLRQ==</data>
				<key>MaskFind</key>
				<data>/wAAAP//////AP///////w==</data>
				<key>Comment</key>
				<string>KbeBS-SIP (kuckkuck)</string>
				<key>Disabled</key>
				<false/>
				<key>MatchOS</key>
				<string>10.16,11.0</string>
				<key>Replace</key>
				<data>6EUEDwCFwOsE+gAAAEmLRQ==</data>
				<key>StartPattern</key>
				<data>AgAAQb8BAADc</data>
				<key>Count</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>MaskReplace</key>
				<data>AAAAAAD//wA=</data>
				<key>Find</key>
				<data>6NQAAADrBeg=</data>
				<key>MaskFind</key>
				<data>/wD///////8=</data>
				<key>Comment</key>
				<string>KbeBS-EXT (kuckkuck)</string>
				<key>Disabled</key>
				<false/>
				<key>MatchOS</key>
				<string>10.16,11.0</string>
				<key>Replace</key>
				<data>6NQAAACQkOg=</data>
				<key>StartPattern</key>
				<data>AQAx/74UAAU=</data>
				<key>Count</key>
				<integer>1</integer>
			</dict>
		</array>
		<key>EightApple</key>
		<false/>
		<key>DellSMBIOSPatch</key>
		<true/>
	</dict>
	<key>RtVariables</key>
	<dict>
		<key>ROM</key>
		<data>0xFmmCmL</data>
		<key>BooterConfig</key>
		<string>0xEE</string>
		<key>CsrActiveConfig</key>
		<string>0x67</string>
	</dict>
	<key>SMBIOS</key>
	<dict>
		<key>FirmwareFeatures</key>
		<string>0xFC0FE13E</string>
		<key>Board-ID</key>
		<string>Mac-551B86E5744E2388</string>
		<key>FirmwareFeaturesMask</key>
		<string>0xFF1FFF3F</string>
		<key>BoardVersion</key>
		<string>MacBookPro14,3</string>
		<key>Manufacturer</key>
		<string>Apple Inc.</string>
		<key>ChassisType</key>
		<string>0x09</string>
		<key>BiosVersion</key>
		<string>MBP143.88Z.0167.B00.1708080129</string>
		<key>BoardManufacturer</key>
		<string>Apple Inc.</string>
		<key>ChassisAssetTag</key>
		<string>MacBook-Aluminum</string>
		<key>PlatformFeature</key>
		<string>0x1A</string>
		<key>Family</key>
		<string>MacBook Pro</string>
		<key>ChassisManufacturer</key>
		<string>Apple Inc.</string>
		<key>BoardSerialNumber</key>
		<string>C02708403QXDNJL1H</string>
		<key>BiosVendor</key>
		<string>Apple Inc.</string>
		<key>ProductName</key>
		<string>MacBookPro14,3</string>
		<key>SmUUID</key>
		<string>5938DFAB-47D4-467B-AB70-EB055F98298B</string>
		<key>Mobile</key>
		<true/>
		<key>BoardType</key>
		<integer>10</integer>
		<key>SerialNumber</key>
		<string>C02VK0K1HTD5</string>
		<key>LocationInChassis</key>
		<string>Part Component</string>
		<key>BiosReleaseDate</key>
		<string>08/08/2017</string>
		<key>Version</key>
		<string>1.0</string>
	</dict>
	<key>SystemParameters</key>
	<dict>
		<key>CustomUUID</key>
		<string>A90BEF74-8D65-4A22-851F-B9AFAF10EAC5</string>
		<key>InjectSystemID</key>
		<true/>
		<key>BacklightLevel</key>
		<string>0</string>
		<key>InjectKexts</key>
		<string>Yes</string>
	</dict>
	<key>Quirks</key>
	<dict>
		<key>EnableWriteUnprotector</key>
		<true/>
		<key>ProvideMaxSlide</key>
		<integer>0</integer>
		<key>EnableSafeModeSlide</key>
		<true/>
		<key>SignalAppleOS</key>
		<false/>
		<key>ProtectUefiServices</key>
		<false/>
		<key>AvoidRuntimeDefrag</key>
		<true/>
		<key>DiscardHibernateMap</key>
		<true/>
		<key>DevirtualiseMmio</key>
		<false/>
		<key>SyncRuntimePermissions</key>
		<true/>
		<key>ProvideCustomSlide</key>
		<false/>
		<key>DisableSingleUser</key>
		<false/>
		<key>ProvideConsoleGopEnable</key>
		<true/>
		<key>ForceExitBootServices</key>
		<false/>
		<key>ProtectSecureBoot</key>
		<false/>
		<key>DisableVariableWrite</key>
		<false/>
		<key>SetupVirtualMap</key>
		<true/>
		<key>ProtectMemoryRegions</key>
		<false/>
		<key>RebuildAppleMemoryMap</key>
		<false/>
	</dict>
</dict>
</plist>