<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ACPI</key>
	<dict>
		<key>SSDT</key>
		<dict>
			<key>Generate</key>
			<dict>
				<key>CStates</key>
				<true/>
				<key>PStates</key>
				<true/>
			</dict>
			<key>PluginType</key>
			<string>1</string>
			<key>DropOem</key>
			<false/>
			<key>UseSystemIO</key>
			<true/>
		</dict>
		<key>DropTables</key>
		<array>
			<dict>
				<key>TableId</key>
				<string>xh_rvp11</string>
				<key>Signature</key>
				<string>SSDT</string>
			</dict>
			<dict>
				<key>TableId</key>
				<string>PtidDevc</string>
				<key>Signature</key>
				<string>SSDT</string>
			</dict>
		</array>
		<key>SortedOrder</key>
		<array>
			<string>SSDT-IGPU_Syspref.aml</string>
			<string>SSDT-XOSI.aml</string>
			<string>SSDT-Config.aml</string>
			<string>SSDT-SMBUS.aml</string>
			<string>SSDT-MCHC.aml</string>
			<string>SSDT-ALS0.aml</string>
			<string>SSDT-DMAC.aml</string>
			<string>SSDT-PMCR.aml</string>
			<string>SSDT-MEM2.aml</string>
			<string>SSDT-FANS.aml</string>
			<string>SSDT-DeepIdle.aml</string>
			<string>SSDT-LPC.aml</string>
			<string>SSDT-UIAC.aml</string>
			<string>SSDT-USBX.aml</string>
			<string>SSDT-PNLF.aml</string>
			<string>SSDT-BRT6.aml</string>
			<string>SSDT-UPRW.aml</string>
			<string>SSDT-HWP.aml</string>
			<string>SSDT-RMDGPU.aml</string>
			<string>SSDT-PTSWAK.aml</string>
			<string>SSDT-HDEF.aml</string>
			<string>SSDT-TYPC.aml</string>
			<string>SSDT-YTBT.aml</string>
			<string>SSDT-I2C.aml</string>
			<string>SSDT-ADP1.aml</string>
			<string>SSDT-BATC.aml</string>
			<string>SSDT-HPET.aml</string>
			<string>SSDT-RMNE.aml</string>
			<string>SSDT-SATA.aml</string>
			<string>SSDT-ALC298.aml</string>
		</array>
		<key>ResetValue</key>
		<string>0x06</string>
		<key>ResetAddress</key>
		<string>0x0CF9</string>
		<key>#Comment-SortedOrder</key>
		<string>SortedOrder required if you have patched SSDTs in ACPI/patched</string>
		<key>FixHeaders</key>
		<true/>
		<key>DSDT</key>
		<dict>
			<key>Patches</key>
			<array>
				<dict>
					<key>Find</key>
					<data>T1NJRA==</data>
					<key>Replace</key>
					<data>WFNJRA==</data>
					<key>Disabled</key>
					<false/>
					<key>Comment</key>
					<string>Change OSID to XSID (to avoid match against _OSI XOSI patch)</string>
				</dict>
				<dict>
					<key>Find</key>
					<data>X09TSQ==</data>
					<key>Replace</key>
					<data>WE9TSQ==</data>
					<key>Disabled</key>
					<false/>
					<key>Comment</key>
					<string>Change _OSI to XOSI, use with SSDT-XOSI.aml</string>
				</dict>
				<dict>
					<key>Find</key>
					<data>X0RTTQ==</data>
					<key>Replace</key>
					<data>WERTTQ==</data>
					<key>Disabled</key>
					<false/>
					<key>Comment</key>
					<string>Change _DSM to XDSM (needed for _DSM injections, e.g. for HDEF, IGPU)</string>
				</dict>
				<dict>
					<key>Find</key>
					<data>RUNEVg==</data>
					<key>Replace</key>
					<data>RUNfXw==</data>
					<key>Disabled</key>
					<false/>
					<key>Comment</key>
					<string>Change ECDV to EC (so Mac OS knows about the Embedded Controller)</string>
				</dict>
				<dict>
					<key>Find</key>
					<data>SERBUw==</data>
					<key>Replace</key>
					<data>SERFRg==</data>
					<key>Disabled</key>
					<false/>
					<key>Comment</key>
					<string>Change HDAS to HDEF (needed for audio)</string>
				</dict>
				<dict>
					<key>Find</key>
					<data>SEVDSQ==</data>
					<key>Replace</key>
					<data>SU1FSQ==</data>
					<key>Disabled</key>
					<false/>
					<key>Comment</key>
					<string>Change HECI to IMEI (so Mac OS can natively use the Management Engine)</string>
				</dict>
				<dict>
					<key>Find</key>
					<data>R0ZYMA==</data>
					<key>Replace</key>
					<data>SUdQVQ==</data>
					<key>Disabled</key>
					<false/>
					<key>Comment</key>
					<string>Change GFX0 to IGPU (needed for graphics)</string>
				</dict>
				<dict>
					<key>Find</key>
					<data>FCBCUlQ2Ag==</data>
					<key>Replace</key>
					<data>FCBCUlRYAg==</data>
					<key>Disabled</key>
					<false/>
					<key>Comment</key>
					<string>Rename BRT6 to BRTX, use with SSDT-BRT6.aml, SSDT-PNLF.aml, AppleBacklightInjector.kext, and VoodooPS2Controller.kext to fix brightness keys</string>
				</dict>
				<dict>
					<key>Find</key>
					<data>FBJVUFJXAHA=</data>
					<key>Replace</key>
					<data>FBJYUFJXAHA=</data>
					<key>Disabled</key>
					<false/>
					<key>Comment</key>
					<string>Rename method UPRW to XPRW and use with SSDT-UPRW.aml to fix USB "instant wake" on sleep</string>
				</dict>
				<dict>
					<key>Find</key>
					<data>FEAGR1BSVwI=</data>
					<key>Replace</key>
					<data>FEAGWVBSVwI=</data>
					<key>Disabled</key>
					<false/>
					<key>Comment</key>
					<string>Rename method GPRW to YPRW and use with SSDT-UPRW.aml to fix USB "instant wake" on sleep</string>
				</dict>
				<dict>
					<key>Find</key>
					<data>FEkEX1BUUwE=</data>
					<key>Replace</key>
					<data>FEkEWlBUUwE=</data>
					<key>Disabled</key>
					<false/>
					<key>Comment</key>
					<string>Rename method _PTS to ZPTS and use with SSDT-PTSWAK.aml to fix dGPU power sapping</string>
				</dict>
				<dict>
					<key>Find</key>
					<data>FDlfV0FLAQ==</data>
					<key>Replace</key>
					<data>FDlaV0FLAQ==</data>
					<key>Disabled</key>
					<false/>
					<key>Comment</key>
					<string>Rename method _WAK to ZWAK and use with SSDT-PTSWAK.aml to fix dGPU power sapping</string>
				</dict>
				<dict>
					<key>Find</key>
					<data>X1JNVgCgFpCTVEJUUwGTU0JOUlRCVVOkVEFSU6EGpEhQQ0UULUhQTUUIoCaQkpNWRElEDP////+TUE1TWAGGUFhTWAoCcAFQTVNYcAFQU1BYFCpfSU5JAHBMVFIxTFRSWnBQTUwxTE1TTHBQTkwxTE5TTHBPQkYxT0JGWhQPX1BSVwCkR1BSVwppCgQUFl9QUlQAoApQSUNNpEFSMTKkUFIxMluCRztSUDE2</data>
					<key>Replace</key>
					<data>WFJNVgCgFpCTVEJUUwGTU0JOUlRCVVOkVEFSU6EGpEhQQ0UULUhQTUUIoCaQkpNWRElEDP////+TUE1TWAGGUFhTWAoCcAFQTVNYcAFQU1BYFCpfSU5JAHBMVFIxTFRSWnBQTUwxTE1TTHBQTkwxTE5TTHBPQkYxT0JGWhQPX1BSVwCkR1BSVwppCgQUFl9QUlQAoApQSUNNpEFSMTKkUFIxMluCRztSUDE2</data>
					<key>Disabled</key>
					<false/>
					<key>Comment</key>
					<string>(RP15 only) Rename _RMV to XRMV and use with SSDT-TYPC.aml for USB-C hot plug support</string>
				</dict>
				<dict>
					<key>Find</key>
					<data>pABYVEJUVEJTRUNQR04=</data>
					<key>Replace</key>
					<data>pABZVEJUVEJTRUNQR04=</data>
					<key>Disabled</key>
					<false/>
					<key>Comment</key>
					<string>Rename XTBT to YTBT and use with SSDT-YTBT.aml for USB-C hot plug</string>
				</dict>
				<dict>
					<key>Find</key>
					<data>X1NUQQ==</data>
					<key>Replace</key>
					<data>WFNUQQ==</data>
					<key>Disabled</key>
					<false/>
					<key>Comment</key>
					<string>change _STA to XSTA in Device GPI0</string>
					<key>TgtBridge</key>
					<data>R1BJMA==</data>
				</dict>
				<dict>
					<key>Find</key>
					<data>X0NSUw==</data>
					<key>Replace</key>
					<data>WENSUw==</data>
					<key>Disabled</key>
					<false/>
					<key>Comment</key>
					<string>change _CRS to XCRS in Device TPD1</string>
					<key>TgtBridge</key>
					<data>VFBEMQ==</data>
				</dict>
				<dict>
					<key>Find</key>
					<data>QUNfXw==</data>
					<key>Replace</key>
					<data>QURQMQ==</data>
					<key>Disabled</key>
					<false/>
					<key>Comment</key>
					<string>Device AC rename to ADP1  pair with SSDT-ADP1 - credit syscl</string>
				</dict>
				<dict>
					<key>Find</key>
					<data>SFBFVA==</data>
					<key>Replace</key>
					<data>WFBFVA==</data>
					<key>Disabled</key>
					<false/>
					<key>Comment</key>
					<string>rename HPET to XPET,  pair with SSDT-HPET.aml</string>
				</dict>
				<dict>
					<key>Find</key>
					<data>U0FUMA==</data>
					<key>Replace</key>
					<data>U0FUQQ==</data>
					<key>Disabled</key>
					<false/>
					<key>Comment</key>
					<string>change SAT0 to SATA</string>
				</dict>
				<dict>
					<key>Find</key>
					<data>U0JUTg==</data>
					<key>Replace</key>
					<data>U0xQQg==</data>
					<key>Disabled</key>
					<false/>
					<key>Comment</key>
					<string>Device SBTN rename to SLPB pair with SSDT-SLPB - credit syscl</string>
				</dict>
				<dict>
					<key>Find</key>
					<data>SFMxMg==</data>
					<key>Replace</key>
					<data>SFM5Mg==</data>
					<key>Disabled</key>
					<true/>
					<key>Comment</key>
					<string>Rename HS12 -&gt; HS92 to avoid the patchmatic error, pair with SSDT-TB.aml</string>
				</dict>
			</array>
			<key>Fixes</key>
			<dict>
				<key>AddDTGP</key>
				<true/>
				<key>AddPNLF</key>
				<false/>
				<key>AddHDMI</key>
				<true/>
			</dict>
		</dict>
	</dict>
	<key>Boot</key>
	<dict>
		<key>Legacy</key>
		<string>LegacyBiosDefault</string>
		<key>CustomLogo</key>
		<string>Alternate</string>
		<key>Secure</key>
		<false/>
		<key>Debug</key>
		<false/>
		<key>Arguments</key>
		<string>dart=0 darkwake=1 agdpmod=vit9696 brcmfx-country=#a keepsyms=1 -lilubetaall bpr_probedelay=100 bpr_initialdelay=300 bpr_postresetdelay=300</string>
		<key>XMPDetection</key>
		<false/>
		<key>Timeout</key>
		<integer>1</integer>
		<key>DefaultVolume</key>
		<string>LastBootedVolume</string>
	</dict>
	<key>GUI</key>
	<dict>
		<key>Theme</key>
		<string>Outlines4K</string>
		<key>Mouse</key>
		<dict>
			<key>Enabled</key>
			<false/>
		</dict>
		<key>Hide</key>
		<array>
			<string>Recovery</string>
			<string>Preboot</string>
			<string>preboot</string>
		</array>
		<key>Custom</key>
		<dict>
			<key>Entries</key>
			<array>
				<dict>
					<key>FullTitle</key>
					<string>UEFI internal</string>
					<key>NoCaches</key>
					<false/>
					<key>Type</key>
					<string>Other</string>
					<key>Hidden</key>
					<string>Always</string>
					<key>Disabled</key>
					<false/>
					<key>Ignore</key>
					<false/>
				</dict>
			</array>
		</dict>
		<key>Language</key>
		<string>zh_CN:0</string>
		<key>Scan</key>
		<dict>
			<key>Tool</key>
			<true/>
			<key>Entries</key>
			<true/>
			<key>Legacy</key>
			<false/>
			<key>Linux</key>
			<true/>
		</dict>
	</dict>
	<key>BootGraphics</key>
	<dict>
		<key>DefaultBackgroundColor</key>
		<string>0xFF000</string>
		<key>UIScale</key>
		<integer>2</integer>
		<key>flagstate</key>
		<integer>1</integer>
		<key>EFILoginHiDPI</key>
		<integer>2</integer>
	</dict>
	<key>CPU</key>
	<dict>
		<key>UseARTFrequency</key>
		<false/>
		<key>HWPEnable</key>
		<true/>
	</dict>
	<key>Devices</key>
	<dict>
		<key>Properties</key>
		<dict>
			<key>PciRoot(0x0)/Pci(0x2,0x0)</key>
			<dict>
				<key>framebuffer-con1-pipe</key>
				<data>EgAAAA==</data>
				<key>AAPL00,override-no-connect</key>
				<string></string>
				<key>framebuffer-con0-busid</key>
				<data>BAAAAA==</data>
				<key>enable-lspcon-support</key>
				<data>AQAAAA==</data>
				<key>framebuffer-con1-has-lspcon</key>
				<data>AQAAAA==</data>
				<key>framebuffer-con0-enable</key>
				<data>AQAAAA==</data>
				<key>framebuffer-con1-enable</key>
				<data>AQAAAA==</data>
				<key>framebuffer-con2-enable</key>
				<data>AQAAAA==</data>
				<key>framebuffer-con2-index</key>
				<data>AgAAAA==</data>
				<key>framebuffer-con1-preferred-lspcon-mode</key>
				<data>AAAAAA==</data>
				<key>framebuffer-con2-busid</key>
				<data>BgAAAA==</data>
				<key>framebuffer-con0-pipe</key>
				<data>IAAAAA==</data>
				<key>force-online</key>
				<data>AQAAAA==</data>
				<key>model</key>
				<string>Intel HD Graphics 630</string>
				<key>framebuffer-fbmem</key>
				<data>AAAAAw==</data>
				<key>AAPL,ig-platform-id</key>
				<data>AAAbWQ==</data>
				<key>framebuffer-con1-index</key>
				<data>AQAAAA==</data>
				<key>AAPL,slot-name</key>
				<string>Built In</string>
				<key>device_type</key>
				<string>VGA compatible controller</string>
				<key>framebuffer-patch-enable</key>
				<data>AQAAAA==</data>
				<key>framebuffer-con1-busid</key>
				<data>BQAAAA==</data>
				<key>framebuffer-unifiedmem</key>
				<data>/////w==</data>
			</dict>
		</dict>
		<key>SetIntelBacklight</key>
		<false/>
		<key>USB</key>
		<dict>
			<key>HighCurrent</key>
			<false/>
			<key>FixOwnership</key>
			<true/>
			<key>AddClockID</key>
			<true/>
		</dict>
		<key>SetIntelMaxBacklight</key>
		<false/>
	</dict>
	<key>DisableDrivers</key>
	<array>
		<string>VBoxHfs</string>
	</array>
	<key>Graphics</key>
	<dict>
		<key>EDID</key>
		<dict>
			<key>Inject</key>
			<true/>
			<key>Custom</key>
			<data>AP///////wBNEHYUAAAAADEaAQSlIxN4DgXup1Q0uyULSVIAAAABAQEBAQEBAQEBAQEBAQEBTdAAoPBwPoAwIDUAWsIQAAAYAAAAAAAAAAAAAAAAAAAAAAAAAAAA/gBZMlhORIBMUTE1NkQxAAAAAAACQQMoABIAAAsBCiAgAJs=</data>
		</dict>
		<key>Inject</key>
		<dict>
			<key>Intel</key>
			<false/>
			<key>AMD</key>
			<false/>
			<key>Nvidia</key>
			<false/>
		</dict>
	</dict>
	<key>KernelAndKextPatches</key>
	<dict>
		<key>AppleRTC</key>
		<true/>
		<key>KernelPm</key>
		<true/>
		<key>KernelLapic</key>
		<false/>
		<key>KextsToPatch</key>
		<array>
			<dict>
				<key>Find</key>
				<data>AQAAdSI=</data>
				<key>Comment</key>
				<string>Boot graphics glitch, 10.13.dp1 (credit denskop, RehabMan)</string>
				<key>Disabled</key>
				<false/>
				<key>InfoPlistPatch</key>
				<false/>
				<key>Name</key>
				<string>IOGraphicsFamily</string>
				<key>Replace</key>
				<data>AQAA6yI=</data>
				<key>MatchOS</key>
				<string>10.13.x</string>
			</dict>
			<dict>
				<key>Find</key>
				<data>RiV1VCUwNHgA</data>
				<key>Name</key>
				<string>com.apple.driver.AppleBacklight</string>
				<key>Replace</key>
				<data>RiV1VHh4eHgA</data>
				<key>Disabled</key>
				<false/>
				<key>Comment</key>
				<string>To implement correct brightness levels, change F%uT%04x to F%uTxxxx in AppleBacklightInjector.kext (RehabMan)</string>
				<key>InfoPlistPatch</key>
				<false/>
			</dict>
			<dict>
				<key>Find</key>
				<data>VUiJ5UFXQVZBVUFUU0iB7DgB</data>
				<key>Comment</key>
				<string>Bypass Thunderbolt 3 blacklist by patching shouldSkipEnumeration function, enables Razer Core and early TB3 devices (credit kid2010, netkas, syscl)</string>
				<key>Disabled</key>
				<true/>
				<key>InfoPlistPatch</key>
				<false/>
				<key>Name</key>
				<string>IOThunderboltFamily</string>
				<key>Replace</key>
				<data>VUiJ5THAXcNBVUFUU0iB7DgB</data>
				<key>MatchOS</key>
				<string>10.12.x,10.13.x</string>
			</dict>
			<dict>
				<key>Find</key>
				<data>SIX/dEdIiwc=</data>
				<key>Name</key>
				<string>IOBluetoothFamily</string>
				<key>Replace</key>
				<data>Qb4PAAAA60Q=</data>
				<key>Disabled</key>
				<false/>
				<key>Comment</key>
				<string>Enable BT4LE-Handoff-Hotspot</string>
				<key>InfoPlistPatch</key>
				<false/>
			</dict>
		</array>
		<key>KernelXCPM</key>
		<false/>
		<key>Debug</key>
		<false/>
		<key>KernelToPatch</key>
		<array>
			<dict>
				<key>Find</key>
				<data>ILniAAAADzA=</data>
				<key>Replace</key>
				<data>ILniAAAAkJA=</data>
				<key>Disabled</key>
				<false/>
				<key>Comment</key>
				<string>MSR 0xE2 _xcpm_idle prevent instant reboot (c) Pike R. Alpha</string>
				<key>MatchOS</key>
				<string>10.12,10.13</string>
			</dict>
		</array>
		<key>DellSMBIOSPatch</key>
		<true/>
		<key>AppleIntelCPUPM</key>
		<false/>
		<key>KernelCpu</key>
		<false/>
	</dict>
	<key>RtVariables</key>
	<dict>
		<key>ROM</key>
		<data>0xFmmCmL</data>
		<key>BooterConfig</key>
		<string>0xEE</string>
		<key>CsrActiveConfig</key>
		<string>0x67</string>
	</dict>
	<key>SMBIOS</key>
	<dict>
		<key>FirmwareFeatures</key>
		<string>0xFC0FE13E</string>
		<key>Board-ID</key>
		<string>Mac-551B86E5744E2388</string>
		<key>FirmwareFeaturesMask</key>
		<string>0xFF1FFF3F</string>
		<key>BoardVersion</key>
		<string>MacBookPro14,3</string>
		<key>Manufacturer</key>
		<string>Apple Inc.</string>
		<key>ChassisType</key>
		<string>0x09</string>
		<key>BiosVersion</key>
		<string>MBP143.88Z.0167.B00.1708080129</string>
		<key>BoardManufacturer</key>
		<string>Apple Inc.</string>
		<key>ChassisAssetTag</key>
		<string>MacBook-Aluminum</string>
		<key>PlatformFeature</key>
		<string>0x1A</string>
		<key>Family</key>
		<string>MacBook Pro</string>
		<key>ChassisManufacturer</key>
		<string>Apple Inc.</string>
		<key>BoardSerialNumber</key>
		<string>C02708403QXDNJL1H</string>
		<key>BiosVendor</key>
		<string>Apple Inc.</string>
		<key>ProductName</key>
		<string>MacBookPro14,3</string>
		<key>SmUUID</key>
		<string>5938DFAB-47D4-467B-AB70-EB055F98298B</string>
		<key>Mobile</key>
		<true/>
		<key>BoardType</key>
		<integer>10</integer>
		<key>SerialNumber</key>
		<string>C02VK0K1HTD5</string>
		<key>LocationInChassis</key>
		<string>Part Component</string>
		<key>BiosReleaseDate</key>
		<string>08/08/2017</string>
		<key>Version</key>
		<string>1.0</string>
	</dict>
	<key>SystemParameters</key>
	<dict>
		<key>CustomUUID</key>
		<string>A90BEF74-8D65-4A22-851F-B9AFAF10EAC5</string>
		<key>InjectSystemID</key>
		<true/>
		<key>BacklightLevel</key>
		<string>0</string>
		<key>InjectKexts</key>
		<string>Yes</string>
	</dict>
	<key>Quirks</key>
	<dict>
		<key>SetupVirtualMap</key>
		<true/>
		<key>EnableSafeModeSlide</key>
		<true/>
		<key>SyncRuntimePermissions</key>
		<true/>
		<key>DiscardHibernateMap</key>
		<true/>
		<key>AvoidRuntimeDefrag</key>
		<true/>
		<key>ProvideConsoleGopEnable</key>
		<true/>
		<key>EnableWriteUnprotector</key>
		<true/>
	</dict>
</dict>
</plist>