<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Author</key>
	<string>Badruzeus</string>
	<key>Description</key>
	<string>Outlines Clover theme with 256px icons size, logo animation and lightning selection effect. Version: 1.5</string>
	<key>Theme</key>
	<dict>
		<key>Anime</key>
		<array>
			<dict>
				<key>FrameTime</key>
				<integer>48</integer>
				<key>Frames</key>
				<integer>60</integer>
				<key>ID</key>
				<integer>1</integer>
				<key>Path</key>
				<string>anime</string>
			</dict>
		</array>
		<key>Background</key>
		<dict>
			<key>Dark</key>
			<true/>
			<key>Path</key>
			<string>background.png</string>
			<key>Type</key>
			<string>Tile</string>
		</dict>
		<key>Badges</key>
		<dict>
			<key>Inline</key>
			<false/>
			<key>Scale</key>
			<integer>16</integer>
			<key>Show</key>
			<false/>
			<key>Swap</key>
			<true/>
		</dict>
		<key>Banner</key>
		<string>logo.png</string>
		<key>BootCampStyle</key>
		<false/>
		<key>Components</key>
		<dict>
			<key>Banner</key>
			<true/>
			<key>Functions</key>
			<true/>
			<key>Help</key>
			<true/>
			<key>Label</key>
			<true/>
			<key>MenuTitle</key>
			<true/>
			<key>MenuTitleImage</key>
			<true/>
			<key>Revision</key>
			<true/>
		</dict>
		<key>Font</key>
		<dict>
			<key>CharWidth</key>
			<integer>25</integer>
			<key>Path</key>
			<string>font.png</string>
			<key>Proportional</key>
			<true/>
			<key>Type</key>
			<string>Load</string>
		</dict>
		<key>Layout</key>
		<dict>
			<key>BannerOffset</key>
			<integer>32</integer>
			<key>ButtonOffset</key>
			<integer>64</integer>
			<key>SelectionBigWidth</key>
			<integer>288</integer>
			<key>SelectionSmallWidth</key>
			<integer>80</integer>
			<key>TextOffset</key>
			<integer>-100</integer>
			<key>TileXSpace</key>
			<integer>0</integer>
			<key>TileYSpace</key>
			<integer>128</integer>
			<key>Vertical</key>
			<false/>
		</dict>
		<key>Origination</key>
		<dict>
			<key>DesignHeight</key>
			<integer>1080</integer>
			<key>DesignWidth</key>
			<integer>1920</integer>
		</dict>
		<key>Selection</key>
		<dict>
			<key>Big</key>
			<string>Selection_big.png</string>
			<key>ChangeNonSelectedGrey</key>
			<false/>
			<key>Color</key>
			<string>0xFFFFFF20</string>
			<key>OnTop</key>
			<false/>
			<key>Small</key>
			<string>Selection_small.png</string>
		</dict>
	</dict>
	<key>Version</key>
	<string>1.5</string>
	<key>Year</key>
	<string>2018</string>
</dict>
</plist>
